{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Transpflor s.a</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'images/logos/favicon.png' %}" />
  <link rel="stylesheet" href="{% static 'css/styles.min.css' %}" />
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
</head>
<body style="background-image: url('https://www.cognidox.com/hubfs/6%20Tips%20for%20Choosing%20A%20Document%20Management%20System%20(1).webp')">
  <!--  Body Wrapper  -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed" >
    <!-- Sidebar Start  -->
    <aside class="left-sidebar" style="background-color: #dfeefe;">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="#" class="text-nowrap logo-img">
            <img src="{% static 'images/logos/dark-logo.svg' %}" width="180" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="" >
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu"><h3><b> MENÚ  </b></h3></span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/dashboard" aria-expanded="false">
                <span>
                  <i class="ti ti-map"></i>
                </span>
                <span class="hide-menu">Rutas</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/trucks" aria-expanded="false">
                <span>
                  <i class="ti ti-truck"></i>
                </span>
                <span >Camiones</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/orders" aria-expanded="false">
                <span>
                  <i class="ti ti-box-seam"></i>
                </span>
                <span >Ordenes</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/users" aria-expanded="false">
                <span>
                  <i class="ti ti-users"></i>
                </span>
                <span >Usuarios</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/logout" aria-expanded="false">
                <span>
                  <i class="ti ti-logout"></i>
                </span>
                <span >Cerrar sesión</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->

      <!--  Header End -->
      <div class="container-fluid">
        <!--  Row 1 -->
        <div class="container-fluid">
          <div class="card">
            <div class="card-body">
              <h1 style="color: #0d61bd;;; font-weight: bolder;">Transpflor S. A. <i class="ti ti-box"></i></h1>
              <br/>
                {% block main %}
                    <h2>Not Main defined</h2>
                {% endblock %}
            </div>
          </div>
        </div>
        <br />
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/sidebarmenu.js' %}"></script>
  <script src="{% static 'js/app.min.js' %}"></script>
  <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script>
  <script src="{% static 'libs/simplebar/dist/simplebar.js' %}"></script>
  <script src="{% static 'js/dashboard.js' %}"></script>
  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
  <script>
    $(document).ready( function () {
      $('#myTable').DataTable();
  } );
  </script> 
</body>

</html>
