{% extends "Zeus/base-v2.html" %}

{% block main %}
<div class="row">
  <div class="col-md-8 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Mapa</h4>
        <div id="googleMap" style="width:100%;height:600px;"></div>
      </div>
    </div>
  </div>
  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Ordenes en Proceso</h4>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Accion
                </th>
                <th>
                  N# Orden
                </th>
                <th>
                  Ruta
                </th>
              </tr>
            </thead>
            <tbody>

              {% for orden in ordenes %}
              <tr>
                <td>
                  <button type="button" onclick="calculateRoute({{orden.location.0}}, {{orden.location.1}} ,{{orden.destination.0}}, {{orden.destination.1}}, {{orden.id}})" class="btn btn-success btn-rounded btn-icon">
                    <i class="mdi mdi-map-marker"></i>
                  </button>
                </td>
                <td class="py-1">
                  {{ orden.id |stringformat:"05d" }}
                </td>
                <td>
                  {{ orden.ruta }}
                </td>
               
              </tr>
              {% endfor %}
              <input type="hidden" value="0" id="selectedOrder">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}  


{% block custom_script %}

<script src="https://maps.googleapis.com/maps/api/js?key={{gkey}}"></script>
<script> 

var map;
var markersArray = [];

function initMap() {
  var pointA = new google.maps.LatLng(-2.1852634,-79.8914505)
  var myOptions = {
        zoom: 15,
        center: pointA
    }
  
  map = new google.maps.Map(document.getElementById('googleMap'), myOptions)
    // Instantiate a directions service.
  var directionsService = new google.maps.DirectionsService
  var directionsDisplay = new google.maps.DirectionsRenderer({
        map: map
    })
  var markerA = new google.maps.Marker({
        position: pointA,
        title: "point A",
        map: map,
    })

    markersArray.push(markerA);
   
}

initMap();


function calculateRoute(lat1, long1, lat2, long2, order_id){

  initMap()
  console.log(lat1, long1, lat2, long2)
  clearOverlays();

  var origen = new google.maps.LatLng(lat1, long1),
    destino = new google.maps.LatLng(lat2, long2),
    // Instantiate a directions service.
    directionsService = new google.maps.DirectionsService,
    directionsDisplay = new google.maps.DirectionsRenderer({
        map: map
    }),
    marcadorOrigen = new google.maps.Marker({
        position: origen,
        title: "origen",
        map: map,
    }),
    marcadorDestino = new google.maps.Marker({
        position: origen,
        title: "destino",
        map: map
    });

    map.setOptions({ center: destino });

    console.log(marcadorOrigen)
    console.log(marcadorDestino)

    markersArray.push(marcadorOrigen);
    markersArray.push(marcadorDestino);

  // get route from A to B
  calculateAndDisplayRoute(directionsService, directionsDisplay, origen, destino);


  clearInterval(intervalId)
  $('#selectedOrder').val(order_id)
  callCurrentLocation()
  var intervalId = window.setInterval(callCurrentLocation, 5000);

}


function callCurrentLocation(){
  selectedOrder = $('#selectedOrder').val()
  console.log(selectedOrder);
  $.ajax({
        url: "https://hermes-ec.herokuapp.com/heraldo/ubicacion/"+selectedOrder,
    }).done(function( data ) {
      const image = "https://cdn.iconscout.com/icon/premium/png-64-thumb/car-1991-997072.png?f=webp";
      remove_previous = markersArray.pop();
      remove_previous.setMap(null);

      locacion_actual = new google.maps.LatLng(data['lat'], data['lng']),
      locationMarker = new google.maps.Marker({
          position: locacion_actual,
          title: "destino_actual",
          map: map,
          icon: image,
      });

      markersArray.push(locationMarker);
    });
}

function clearOverlays() {
  if (markersArray) {
    for (i in markersArray) {
      
      markersArray[i].setMap(null);
    }
  }
}

function calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB) {
    directionsService.route({
        origin: pointA,
        destination: pointB,
        avoidTolls: true,
        avoidHighways: false,
        travelMode: google.maps.TravelMode.DRIVING
    }, function (response, status) {
        if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
        } else {
          window.alert('Actualmente no se puede encontrar una ruta en la locacion del conductor');
          ubicarpuntos(pointA, pointB);
        }
    });
}

function ubicarpuntos(pointA, pointB){
  marcadorOrigen = new google.maps.Marker({
        position: pointA,
        title: "origen",
        map: map,
    }),
    marcadorDestino = new google.maps.Marker({
        position: pointB,
        title: "destino",
        map: map
    });

    markersArray.push(marcadorOrigen);
    markersArray.push(marcadorDestino);
}


</script>
{% endblock %}  