{% extends "Zeus/base-v2.html" %}

{% block custom_style %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<style>
  li[aria-disabled="true"]{
    text-decoration: line-through;
  }
</style>

{% endblock %}

{% block main %}

  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"><i class="mdi mdi-package-variant"></i>   Nueva Orden</h4>
        <form method="POST" class="post-form form-sample" autocomplete="off" enctype="multipart/form-data">
          {% csrf_token %}
          <hr>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><b>Cliente</b></label>
                <div class="col-sm-9"> 
                  <select class="form-select form-control" id="client" style="width: 100%" name="client">
                    {% for client in client_list %}
                        <option value="{{ client.id }}">{{ client.identificacion }} - {{ client.name }} {{ client.last_name }}</option>
                    {% endfor %}
                    {% if client_list|length == 0 %}
                     <option value="00">No hay Clientes activos</option>
                    {% endif %}
                </select>           
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><b>Conductor</b></label>
                <div class="col-sm-9"> 
                  <select class="form-select form-control" id="driverInfo" style="width: 100%"  name="driver">
                    {% if driver_list|length > 0 %}
                      <optgroup label="Conductores disponibles">
                      {% for driver in driver_list %}
                        <option value="{{ driver.id }}" data-truck="{{ driver.placa }}">{{ driver.identificacion }} - {{ driver.name }} {{ driver.last_name }}</option>    
                      {% endfor %}
                      </optgroup>
                    {% endif %}
                    {% if inactive_driver|length > 0 %}
                      <optgroup label="Conductores Inactivos">
                      {% for driver in inactive_driver %}
                        <option disabled="disabled" style="background-color: gray;" value="{{ driver.id }}" data-truck="{{ driver.placa }}">{{ driver.identificacion }} - {{ driver.name }} {{ driver.last_name }}</option>    
                      {% endfor %}
                      </optgroup>
                    {% endif %}
                    {% if busy_driver|length > 0 %}
                      <optgroup label="Conductor con Orden en proceso">
                      {% for driver in busy_driver %}
                        <option disabled="disabled" value="{{ driver.id }}" data-truck="{{ driver.placa }}">{{ driver.identificacion }} - {{ driver.name }} {{ driver.last_name }}</option>    
                      {% endfor %}
                      </optgroup>
                    {% endif %}
                    {% if inactive_truck|length > 0 %}
                      <optgroup label="Camiones en mantenimiento o sin asignar">
                      {% for driver in inactive_truck %}
                        <option disabled="disabled" value="{{ driver.id }}" data-truck="{{ driver.placa }}">{{ driver.identificacion }} - {{ driver.name }} {{ driver.last_name }}</option>    
                      {% endfor %}
                      </optgroup>
                    {% endif %}
                
                </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><b>Contenido</b></label>
                <div class="col-sm-9">
                  <!-- input type="text" class="form-control"  class="form-control" id="contenido" name="contenido"  aria-describedby="emailHelp" -->
                  <textarea class="form-control" id="contenido" name="contenido" required="required" rows="4"></textarea>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><b>Camion asignado</b></label>
                <div class="col-sm-9"> 
                  <input type="text" readonly class="form-control"  class="form-control" id="camionAsignado" name="camionAsignado" required="required" aria-describedby="emailHelp">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><b>Peso</b></label>
                <div class="col-sm-5">
                  <input type="number" min="0" step="0.01"  class="form-control" id="pesoValue" name="pesoValue" required="required" aria-describedby="emailHelp">
                </div>
                <div class="col-sm-4">
                  <select class="form-select form-control" id="unitSelect" name="unitSelect">
                    <option value="To">T.</option>
                    <option value="Kg">Kg</option>
                    <option value="Lb">Lb</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><b>Tarifa Aplicada</b></label>
                <div class="col-sm-9">
                  <input type="text" readonly class="form-control" id="tarifaAplicada" name="tarifaAplicada" required="required" >
                </div>

              </div>
            </div>
          </div>
          <div>
          <h4 class="card-title"> <i class="mdi mdi-package-variant"></i>Archivos de Orden</h4>
        </div>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><b>Guia de Remision (*)</b></label>
                <div class="col-sm-9">
                  <input type="file" class="form-control" id="guiaRemision" name="guiaRemision" required="required" accept="application/pdf">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><b>Archivos Legales</b></label>
                <div class="col-sm-9">
                  <input type="file" multiple class="form-control" id="archivosLegales" name="archivosLegales" accept="application/pdf">
                </div>
              </div>
            </div>
          </div>
          <h4 class="card-title"><i class="mdi mdi-package-variant"></i> Ruta</h4>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><b>Origen</b></label>
                <div class="col-sm-9">
                  <select class="form-select form-control" id="originPoint" name="originPoint">
                      {% for ubicacion in ubicaciones %}
                          <option value="{{ ubicacion.latitud }};{{ ubicacion.longitud }};{{ubicacion.nombre}}">{{ ubicacion.nombre }}</option>
                      {% endfor %}
                      {% if driver_list|length == 0 %}
                      <option value="00">No hay Conductores activos</option>
                      {% endif %}
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><b>Destino</b></label>
                <div class="col-sm-9">
                  <select class="form-select form-control" id="destinoPoint" name="destinoPoint">
                      {% for ubicacion in ubicaciones reversed %}
                          <option value="{{ ubicacion.latitud }};{{ ubicacion.longitud }};{{ubicacion.nombre}}">{{ ubicacion.nombre }}</option>
                      {% endfor %}
                      {% if driver_list|length == 0 %}
                      <option value="00">No hay Conductores activos</option>
                      {% endif %}
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <button type="button" style="    margin: 0px 10px;" onclick="calcularRuta()" class="btn btn-inverse-info btn-lg btn-block">
              <i class="mdi mdi-map-marker"></i>                      
              Calcular Ruta
            </button>
          </div>
          <div style="text-align: center; padding: 10px;" id="loadingGif">
            <img src="https://miro.medium.com/v2/resize:fit:720/1*CsJ05WEGfunYMLGfsT2sXA.gif" width="300px">
          </div>
          <div>
            &nbsp;
          </div>
          <div>
            &nbsp;
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><b>Distancia</b></label>
                <div class="col-sm-9">
                  <input type="text" readonly class="form-control" class="form-control" id="distanciaInput" name="distanciaInput" required="required" aria-describedby="emailHelp">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><b>Precio</b></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" class="form-control" id="precioInput" name="precioInput" aria-describedby="emailHelp" >
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <div class="col-sm-12">
                  <h5>Ruta</h5>
                  <div id="map" style="width:100%;height:500px;"></div>
                </div>
              </div>
            </div>
          </div>

          
          <br/>
          <br/>
          <a href="/users" class="btn btn-outline-dark m-1">Cancelar</a>&nbsp;&nbsp;&nbsp;
          <button type="submit" class="btn btn-primary m-1" id="generarBtn">Generar</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}  




{% block custom_script %}

<script src="https://maps.googleapis.com/maps/api/js?key={{gkey}}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>



<script> 
var MAX_FILE_SIZE = 5 * 1024 * 1024; // 5MB

$( document ).ready(function() {

  $('#client').select2();
  $('#driverInfo').select2();


  $('#loadingGif').css('display', 'none');

  var placa = $('#driverInfo').find(":selected").attr("data-truck")
  if(placa === 'Sin asignar'){
    $('#camionAsignado').css("font-color", "red");
  } else {
    $('#camionAsignado').css("font-color", "black");
  }
  $('#camionAsignado').val(placa);

  $('#guiaRemision').change(function() {
      fileSize = this.files[0].size;
      if (fileSize > MAX_FILE_SIZE) {
          this.setCustomValidity("File must not exceed 5 MB!");
          this.reportValidity();
      } else {
          this.setCustomValidity("");
      }
    });
  
});

$('#driverInfo').on('change', function() {
  var placa = $('#driverInfo').find(":selected").attr("data-truck")
  if(placa === 'Sin asignar'){
    $('#camionAsignado').css("color", "red");
  } else {
    $('#camionAsignado').css("color", "black");
  }
  $('#camionAsignado').val(placa)
});


$('#pesoValue').on('change', function() {
    calculateTarifa()
})

$('#unitSelect').on('change', function() {
    calculateTarifa()
})

$('#distanciaInput').on('change', function() {
    calculateTarifa()
    console.log('Tarifa');
})




function calculateTarifa(){
  tarifa = getTarifa();
  
  unit = $('#unitSelect').find(":selected").val();
  peso = $('#pesoValue').val();
  $('#tarifaAplicada').css("color", "black");
  $('#generarBtn').attr("disabled", false);

  if(unit === 'To'){
    if(peso >= 0 && peso <= 6){
      $('#tarifaAplicada').val((Math.round(tarifa['toneladas_seis'] * 100) / 100).toFixed(2))
    } else if(peso > 6 && peso <= 8){
      $('#tarifaAplicada').val((Math.round(tarifa['toneladas'] * 100) / 100).toFixed(2))
    } else if( peso > 8 && peso <=10){
      $('#tarifaAplicada').val((Math.round(tarifa['toneladas_diez'] * 100) / 100).toFixed(2))
    } else {
      $('#tarifaAplicada').css("color", "red");
      $('#tarifaAplicada').val('Sin Capacidad');
      $('#generarBtn').attr("disabled", true);
    }
    
  } else if(unit === 'Kg'){
    $('#tarifaAplicada').val((Math.round(tarifa['kilogramos'] * 100) / 100).toFixed(2))
  } else if(unit === 'Lb'){
    $('#tarifaAplicada').val((Math.round(tarifa['libras'] * 100) / 100).toFixed(2))
  } else {
    $('#tarifaAplicada').css("color", "red");
    $('#tarifaAplicada').val('Sin Capacidad');
    $('#generarBtn').attr("disabled", true);

  }
}


function getTarifa(){
  return {
    'toneladas_seis': '{{ tarifas.toneladas_seis }}',
    'toneladas': '{{ tarifas.toneladas }}',
    'toneladas_diez': '{{ tarifas.toneladas_diez }}',
    'kilogramos': '{{ tarifas.kilogramos }}',
    'libras': '{{ tarifas.libras }}',
  }
}


var map;
var markerArray = [];

function initMap() {
  var pointA = new google.maps.LatLng(-2.1852634,-79.8914505)
  var myOptions = {
        zoom: 15,
        center: pointA
    }
  map = new google.maps.Map(document.getElementById("map"), myOptions)
  var markerA = new google.maps.Marker({
        position: pointA,
        title: "point A",
        map: map,
    })   
    markerArray.push(markerA)
}

initMap();


function clearOverlays(markerArray) {
  while(markerArray.length) { markerArray.pop().setMap(null); }
}

function calcularRuta(){
  // originPoint
  // destinoPoint
  initMap();

  originPoint = $('#originPoint').find(":selected").val();
  destinoPoint = $('#destinoPoint').find(":selected").val();

  
  if(originPoint === destinoPoint){
    console.log('NO SE PUEDE ENVIAR A LA MISMA UBICACION');
    return false
  }

  origin_coord = originPoint.split(';');
  destin_coord = destinoPoint.split(';');

  originLat = parseFloat(origin_coord[0])
  originLng = parseFloat(origin_coord[1])
  destinationLat = parseFloat(destin_coord[0])
  destinationLng = parseFloat(destin_coord[1])
  calculateRoute(originLat, originLng, destinationLat, destinationLng)
  calculatePrice();

}

function calculatePrice(){
  $('#loadingGif').css('display', 'block')
  setTimeout(function () {
    tarifa = getTarifa();
    distancia = $('#distanciaInput').val()
    
    console.log(distancia);
    $('#loadingGif').css('display', 'none');
    tarifaAplicada = $('#tarifaAplicada').val()
    console.log(tarifaAplicada);
    if(tarifaAplicada == ''){
      console.log('no se puede');
      return false
    }

    tarifaAplicada = parseFloat(tarifaAplicada)
    distancia = parseFloat(distancia)

    unit = $('#unitSelect').find(":selected").val();
    peso = $('#pesoValue').val();
    
    var precio = 0;
    if(unit === 'To'){
      precio = tarifaAplicada * distancia
    } else if(unit === 'Kg'){
      precio = tarifaAplicada * distancia * peso
    } else if(unit === 'Lb'){
      precio = tarifaAplicada * distancia * peso
    } else {
      precio = -1
    }

    precio = (Math.round(precio * 100) / 100).toFixed(2)
    $('#precioInput').css("font-color", "black");
    $('#generarBtn').attr("disabled", false);
    if(isNaN(precio)){
      $('#precioInput').css("font-color", "red");
      precio = 'Sin Calcular';
      $('#generarBtn').attr("disabled", true);
    }

    $('#precioInput').val(precio)
    }, 1000);
}

function calculateRoute(lat1, long1, lat2, long2){
  clearOverlays(markerArray);

  var origen = new google.maps.LatLng(lat1, long1),
    destino = new google.maps.LatLng(lat2, long2),
    // Instantiate a directions service.
    directionsService = new google.maps.DirectionsService,
    directionsDisplay = new google.maps.DirectionsRenderer({
        map: map
    }),
    marcadorOrigen = new google.maps.Marker({
        position: origen,
        title: "origen",
        map: map,
    }),
    marcadorDestino = new google.maps.Marker({
        position: origen,
        title: "destino",
        map: map
    });

    map.setOptions({ center: destino });


    markerArray.push(marcadorOrigen);
    markerArray.push(marcadorDestino);

  // get route from A to B
  calculateAndDisplayRoute(directionsService, directionsDisplay, origen, destino);

}

function calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB) {

    directionsService.route({
        origin: pointA,
        destination: pointB,
        avoidTolls: true,
        avoidHighways: false,
        travelMode: google.maps.TravelMode.DRIVING
    }, function (response, status) {
        if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
            var distancia = directionsDisplay.directions.routes[0].legs[0].distance;
            var distanciaKm =  distancia['value'] / 1000
            $('#distanciaInput').val(distanciaKm + ' Km')
        } else {
          window.alert('Actualmente no se puede encontrar una ruta en la locacion del conductor');
        }
    });
}

</script>
{% endblock %}  