{% extends "Zeus/base-v2.html" %}


{% block main %}

  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Nuevo Usuario</h4>
        <form method="POST" class="post-form form-sample" autocomplete="off">
          {% csrf_token %}
          <p class="card-description">
            Campos requeridos (<span style="color:red">*</span>)
          </p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label" >Identificacion<span style="color:red">*</span></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" maxlength="10" pattern="[0-9]{10}" {% if action == 'edit' %} value="{{ confirm_user.username }}" {% endif %} class="form-control" id="identification" name="identification" required="required" aria-describedby="emailHelp">
                  <small id="textoFormato">Formato: Solo numeros, 10 digitos</small>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Tipo<span style="color:red">*</span></label>
                <div class="col-sm-9">
                  <select class="form-control" id="tipoIdentificacion">
                    <option value="cedula">Cedula</option>
                    <option value="pasaporte">Pasaporte</option>
                    <option value="exterior">Identificacion del exterior</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Nombre<span style="color:red">*</span></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control"  maxlength="50"  pattern="[A-Za-z]\w+" {% if action == 'edit' %} value="{{ confirm_user.first_name }}" {% endif %} class="form-control" id="name" name="name" required="required" aria-describedby="emailHelp">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Apellido<span style="color:red">*</span></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control"  maxlength="50"   pattern="[A-Za-z]\w+" {% if action == 'edit' %} value="{{ confirm_user.last_name }}" {% endif %} class="form-control" id="lastName" name="last_name" required="required" aria-describedby="emailHelp">

                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Email<span style="color:red">*</span></label>
                <div class="col-sm-9">
                  <input type="email" autocomplete="false" class="form-control" {% if action == 'edit' %} value="{{ confirm_user.email }}" {% endif %} class="form-control" id="email" name="email" required="required" aria-describedby="emailHelp">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Rol<span style="color:red">*</span></label>
                <div class="col-sm-9">
                  <select class="form-select form-control" id="rol" name="rol">
                    <option value="AD">Administrador</option>
                    <option value="DR">Conductor</option>
                    <option value="CL">Cliente</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-12 col-form-label">Contraseña</label>
                <div class="input-group col-sm-7">
                  <input type="password" autocomplete="false" class="form-control" id="password" name="password" class="form-control">
                  <div class="input-group-append">
                    <button class="btn btn-sm btn-outline-info" type="button" onclick="showPassword()">
                      <i class="mdi mdi-eye"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br/>
          <br/>
          {% if error == True %}
          <div class="alert alert-danger" role="alert">
            <b> No fue posible guardar por los siguientes errores:</b>
            
            {% for error_message in error_list %}
              <div> - {{ error_message }}</div>
            {% endfor %}
          </div>
          {% endif %}

          {% if action == 'edit' %}
            <input type="hidden" value="{{ confirm_user.id }}" class="form-control" id="user_id" name="user_id" >
            <input type="hidden" value="user" class="form-control" id="object" name="object" >
          {% endif %}
          <a href="/users" class="btn btn-outline-dark m-1">Cancelar</a>&nbsp;&nbsp;&nbsp;
          <button type="submit" class="btn btn-primary m-1">Guardar</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}  



{% block custom_final_script %}

<script>
  $(document).ready( function () {
      $("#password").val('')
  } );

  function showPassword(){
    var password_input = $('#password').get(0)
    if(password_input.type == 'text'){
      password_input.type = 'password';
    } else {
      password_input.type = 'text';
    }
  }

  $("#tipoIdentificacion").change(function(){
    $('#identification').val('')
    
    if($(this).val() == 'cedula'){
      $('#identification').attr('pattern', '[0-9]{10}');
      $("#textoFormato").html("Formato: Solo numeros, 10 digitos");
    } else if($(this).val() == 'pasaporte'){
      $('#identification').attr('pattern', '^A[0-9]{13}');
      $("#textoFormato").html("Formato: Iniciar con A, 13 digitos");
    } else {
      $('#identification').attr('pattern', '*');
      $("#textoFormato").html("");
    }

  });

  $('#identification').keyup(function () {
    if($('#tipoIdentificacion').val() == 'cedula'){
      this.value = this.value.replace(/[^0-9\.]/g,'');
    }
  });

  $('#name').keyup(function () {
    if($('#tipoIdentificacion').val() == 'cedula'){
      this.value = this.value.replace(/[^a-zA-Zäáàëéèíìöóòúùñ \.]/g,'');
    }
  });

  $('#lastName').keyup(function () {
    if($('#tipoIdentificacion').val() == 'cedula'){
      this.value = this.value.replace(/[^a-zA-Zäáàëéèíìöóòúùñ \.]/g,'');
    }
  });



  
</script> 
{% endblock %}