{% extends "Zeus/base-v2.html" %}


{% block main %}
<div class="row">
    <div class="col-lg-12 d-flex align-items-strech">
      <div class="card w-100">
        <div class="card-body">
          <div>
            <div class="mb-3 mb-sm-0">
                <div class="row alig n-items-start">
                    <div class="col-9">
                      <h2>{{ view_title }}</h2>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-outline-primary m-1" onclick="window.location.href='/new_order'"> 
                            <i class="mdi mdi-package-variant-closed"></i> Nueva Orden
                        </button>
                    </div>
                </div>
              <br/>
              <div class="row alig n-items-start"></div>
                <table id="myTable" class="table table-hover">
                    <thead>
                        <tr>
                          <th> N# Orden </th>
                            <th> Camion </th>
                            <th> Ruta </th>
                            <th> Precio </th>
                            <th> Salida </th>
                            <th> Estado </th>
                            <th> acciones </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in order_list %}
                            <tr>
                                <th> {{ order.id | stringformat:"05d" }} </th>
                                <th>{{ order.truck }}</th>
                                <th>{{ order.origin }} - {{ order.destination }}</th>
                                <th> ${{ order.precio|floatformat:2 }} </th>
                                <th><i class="mdi mdi-lock-clock"></i>  {{ order.tiempo_partida }} </th>
                                <th>
                                  {% if order.status == 'Pendiente' %}
                                  <label class="badge badge-info">{{ order.status }}</label>
                                  {% elif order.status == 'En Proceso' %}
                                  <label class="badge badge-warning">{{ order.status }}</label>
                                  {% elif order.status == 'Finalizado' %}
                                  <label class="badge badge-success">{{ order.status }}</label>
                                  {% elif order.status == 'Cancelado' %}
                                  <label class="badge badge-danger">{{ order.status }}</label>
                                  {% endif %}
                                  
                                  
                                </th>
                                <th>
                                  {% if order.status == 'Finalizado' or order.status == 'Cancelado' %}
                                  <button type="button" class="btn btn btn-outline-primary" onclick="window.location.href='/ver_formulario/{{order.id}}'" title="Ruta"><i class="mdi mdi-format-line-weight"></i> Ver Formulario </button> &nbsp;  
                                  {% endif %}
                                  {% if order.order_file %}
                                  <button type="button" class="btn btn btn-outline-danger" onclick="window.location.href='/files/download?name={{order.order_file.archivo.name}}'" title="Informacion"><i class="mdi mdi-file-pdf"></i> </button> &nbsp;  
                                  {% endif %}
                                  {% if order.is_active is True %} 
                                    <button type="button" class="btn btn btn-outline-warning" onclick="window.location.href='/view_order_documents/{{order.id}}'" title="Informacion"><i class="mdi mdi-information"></i> </button> &nbsp;  
                                  {% else %}
                                    <button type="button" class="btn btn btn-light" onclick="window.location.href='/not_implemented'" title="Reactivar">Reactivar</button> &nbsp;
                                  {% endif %}
                                  {% if order.status != 'Cancelado' %}
                                  <button type="button" class="btn btn btn-outline-info" onclick="window.location.href='/view_orders/{{order.id}}'" title="Ruta"><i class="mdi mdi-map"></i> </button> &nbsp;  
                                  {% endif %}
                                  
                                
                                    
                                </th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
             </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}  