{% extends "Zeus/base-v2.html" %}


{% block custom_style %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}


{% block main %}
<div class="row">
    <div class="col-lg-12 d-flex align-items-strech">
      <div class="card w-100">
        <div class="card-body">
          <div>
            <div class="mb-3 mb-sm-0">
                <div class="row alig n-items-start">
                  <h1 class=" display-4">Reporte de Ordenes</h1>
                </div>
                <div class="row alig n-items-start">
                    
                  </div>
              <br/>
              <form method="POST" class="post-form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                      <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Rango de Fechas</label>
                        <input  type="text" name="daterange" value="{{start}} - {{end}}" /> 
                        &nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-primary col-sm-2">Generar Reporte</button>
                      </div>
                        

                      
                      
                    </div>
                  </div>
                  
            </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<br>
<div class="row">
    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
          <h4 class="card-title">Ganacia por Ordenes</h4>
          <canvas id="areaChart" width="920" height="460" style="display: block; height: 230px; width: 460px;" class="chartjs-render-monitor"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
          <h4 class="card-title">Ordenes por estado</h4>
          <canvas id="doughnutChart" width="920" height="460" style="display: block; height: 230px; width: 460px;" class="chartjs-render-monitor"></canvas>
        </div>
      </div>
    </div>
  </div>
  

{% endblock %}  



{% block custom_final_script %}

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

<script>
    $(document).ready( function () {
      
        $('input[name="daterange"]').daterangepicker();

  } );




  $(function() {

    // Grafico dona
    var doughnutPieData = {
    datasets: [{
      data: [
            {{ ordenes_pendientes | length }},
            {{ ordenes_proceso | length }},
            {{ ordenes_finalizado | length }},
            {{ ordenes_cancelado | length }}
      ],
      backgroundColor: [
        'rgba(255, 99, 132, 0.5)',
        'rgba(54, 162, 235, 0.5)',
        'rgba(255, 206, 86, 0.5)',
        'rgba(75, 192, 192, 0.5)',
        'rgba(153, 102, 255, 0.5)',
        'rgba(255, 159, 64, 0.5)'
      ],
      borderColor: [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
      ],
    }],

    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: [
        'Pendiente',
        'En Proceso',
        'Finalizado',
        'Cancelado'
    ]
  };

    var doughnutPieOptions = {
    responsive: true,
    animation: {
      animateScale: true,
      animateRotate: true
    }
  };

    var areaData = {
        labels: [
            {% for fecha in fechas %}
                "{{ fecha }}",
            {% endfor %}
            
        ],
        datasets: [{
        label: 'Ganancia',
        data: [
            {% for val in valores %}
                "{{ val }}",
            {% endfor %}
        ],
        backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1,
        fill: true, // 3: no fill
        }]
    };

    var areaOptions = {
        plugins: {
        filler: {
            propagate: true
        }
        }
    }
    
    if ($("#doughnutChart").length) {
        var doughnutChartCanvas = $("#doughnutChart").get(0).getContext("2d");
        var doughnutChart = new Chart(doughnutChartCanvas, {
        type: 'doughnut',
        data: doughnutPieData,
        options: doughnutPieOptions
        });
    }


    if ($("#areaChart").length) {
        var areaChartCanvas = $("#areaChart").get(0).getContext("2d");
        var areaChart = new Chart(areaChartCanvas, {
        type: 'line',
        data: areaData,
        options: areaOptions
        });
    }

});


  </script> 
{% endblock %}