{% extends "Zeus/base-v2.html" %}


{% block main %}
<div class="row">
    <div class="col-lg-12 d-flex align-items-strech">
      <div class="card w-100">
        <div class="card-body">
          <div>
            <div class="mb-3 mb-sm-0">
                <div class="row alig n-items-start">
                    <div class="col-9">
                        <h5 class="card-title fw-semibold">Lista de Camiones</h5>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-outline-primary m-1" onclick="window.location.href='/new_truck'"> <i class="mdi mdi-truck"></i> Nuevo Camión</button>
                        <button type="button" class="btn btn btn-outline-success m-1" onclick="window.location.href='/donwload_truck'"> <i class="mdi mdi-briefcase-download"></i> Descargar respaldo</button>
                    </div>
                </div>
              <br/>
              <div class="row alig n-items-start"></div>
                <table id="myTable" class="table table-hover">
                    <thead>
                        <tr>
                            <th> ID </th>
                            <th> </th>
                            <th> Conductor </th>
                            <th> Capacidad </th>
                            <th> Placa </th>
                            <th> Marca </th>
                            <th> Color </th>
                            <th> Acciones </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for truck in truck_list %}
                            <tr>
                                <th>{{ truck.id }}</th>
                                <th>
                                  {% if truck.status == 'Disponible' %} 
                                    <img 
                                    {% if truck.is_active is True %} 
                                      src="https://upload.wikimedia.org/wikipedia/commons/4/4b/Green_Light_Icon.svg"  title="ACTIVE"
                                    {% else %}
                                      src="https://upload.wikimedia.org/wikipedia/commons/b/b9/Gray_Light_Icon.svg"  title="INACTIVE"
                                    {% endif %}
                                    alt="{{ truck.is_active }}" width="20" >
                                  {% else %}
                                  <label class="badge badge-warning">Mantenimiento</label>
                                  {% endif %}
                                </th>
                                <th>
                                  {% if truck.driver %} {{ truck.driver }} {% else %}Por definir  ⚠️  {% endif %}
                                </th>
                                <th>{{ truck.capacity }}</th>
                                <th>{{ truck.license }}</th>
                                <th>{{ truck.brand }}</th>
                                <th><span style="background-color:{{ truck.color }};">&nbsp;&nbsp;</span><span> &nbsp;{{ truck.color_name|default_if_none:"" }}</span> </th>
                                <th>
                                  {% if truck.is_active is True %} 
                                    <button type="submit" class="btn btn-outline-warning" onclick="window.location.href='/edit/truck/{{truck.id}}'" title="Edit"><i class="mdi mdi-grease-pencil"></i> </button> &nbsp;
                                    <button type="submit" class="btn btn-outline-danger" onclick="window.location.href='/delete/truck/{{truck.id}}'" title="Delete"><i class="mdi mdi-delete"></i></button>
                                  {% else %}
                                    <button type="submit" class="btn btn btn-light" onclick="window.location.href='/reactivate/truck/{{truck.id}}'" title="Reactivar">Reactivar</button> &nbsp;
                                  {% endif %}
                                    
                                </th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
             </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}  