{% extends "Zeus/base-v2.html" %}


{% block main %}
<div class="row">
    <div class="col-lg-12 d-flex align-items-strech">
      <div class="card w-100">
        <div class="card-body">
          <div>
            <div class="mb-3 mb-sm-0">
                <div class="row alig n-items-start">
                    <div class="col-9">
                        <h5 class="card-title fw-semibold">Lista de usuarios</h5>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-outline-primary m-1" onclick="window.location.href='/new_user'"> <i class="mdi mdi-account-check"></i> Nuevo Usuario</button>
                        <button type="button" class="btn btn btn-outline-success m-1" onclick="window.location.href='/donwload_users'"> <i class="mdi mdi-briefcase-download"></i> Descargar respaldo</button>
                    </div>
                </div>
              <br/>
              <div class="row alig n-items-start"></div>
                <table id="myTable" class="table table-hover">
                    <thead>
                        <tr>
                            <th> ID </th>
                            <th> </th>
                            <th> Nombre </th>
                            <th> Identificación </th>
                            <th> Email </th>
                            <th> Rol </th>
                            <th> Fecha Creacion </th>
                            <th> Acciones </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in user_list reversed %}
                            <tr>
                                <th>{{ user.id }}</th>
                                <th>
                                  <img 
                                  {% if user.is_active is True %} 
                                    src="https://upload.wikimedia.org/wikipedia/commons/4/4b/Green_Light_Icon.svg"  title="ACTIVE"
                                  {% else %}
                                    src="https://upload.wikimedia.org/wikipedia/commons/b/b9/Gray_Light_Icon.svg"  title="INACTIVE"
                                  {% endif %}
                                  alt="{{ user.is_active }}" width="20" >
                                </th>
                                <th>{{ user.name }} {{ user.last_name }}</th>
                                <th>{{ user.username }}</th>
                                <th>{{ user.email }}</th>
                                {% if user.user_rol == 'AD' %}
                                  <th><i class="mdi mdi-account-card-details"></i> Administrador</th>
                                {% elif user.user_rol == 'CL' %}
                                  <th><i class="mdi mdi-account-outline"></i> Cliente</th>
                                {% elif user.user_rol == 'DR' %}
                                  <th><i class="mdi mdi-truck-delivery"></i> Conductor</th>
                                {% else %}
                                  <th><i class="mdi mdi-block-helper"></i> Ninguno </th>
                                {% endif %}
                                <th>{{ user.date_joined }}</th>
                                <th>
                                  {% if user.is_active is True %} 
                                    <button type="submit" class="btn btn-outline-warning" onclick="window.location.href='/edit/user/{{user.id}}'" title="Edit"><i class="mdi mdi-grease-pencil"></i> </button> &nbsp;
                                    <button type="submit" class="btn btn-outline-danger" onclick="window.location.href='/delete/user/{{user.id}}'" title="Delete"><i class="mdi mdi-delete"></i></button>
                                  {% else %}
                                    <button type="submit" class="btn btn btn-light" onclick="window.location.href='/reactivate/user/{{user.id}}'" title="Reactivar">Reactivar</button> &nbsp;
                                  {% endif %}
                                    
                                </th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
             </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}  